.page-wrapper{}
/*calculator-wrapper*/
.calc-wrapper{
    margin: 0 auto;
    width: 182px;
    padding: 2px;
}

/*rigt panel*/
.func-buttons-wrapper{
    padding-top: 3px;
}

/*calculator-screen*/
.calc-screen-wrapper{
    padding-bottom: 5px;
}
.calc-screen{
    width: 177px;
    text-indent: 9px;
    height: 20px;
}

/*sign button wrapper*/
.sign-button-wrapper{
    vertical-align: top;
    width: 120px;
    display: inline-block;
}
.number-button{
    margin: 2px;
    width: 30px;
}

#sign_0{
    width: 64px;
}
/*func buttons*/
.func_but{
    width: 30px;
    margin-left: 1px;
}

/*calculate button wrapper*/
.calculate-button-wrapper{
    vertical-align: top;
    display: inline-block;
    width: 62px;
}
.calculate-button{
    width: 29px;
    margin: 1px;
}
#sign_rusult{
    width:60px;
}